/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --fonts : #e6e5e5;
    --primary: #5E4BA6;
    --second: #9c9c9c;
    --found: #131313;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--second);
}

::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color: var(--fonts);
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

body{
    background-color: var(--fonts);
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
}

header{
    display: flex;
    align-items: center;
    color: var(--fonts);
    background-color: var(--primary);

}

.logo{
    background-color: var(--fonts);
    margin: 15px 0px 15px 15px;
    width: 70px;
    height: 70px;
    background-color: var(--fonts);
}

.menu{
    list-style-type: none;
    display: flex;

}

li{
    padding: 10px;
    font-size: 1.4em;
    cursor: pointer;
}

h1{
    color: var(--fonts);
}

section{
    width: 100%;
    height: 83vh;
    position: relative;
}

.box{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

#welcome{
    text-align: center;
    background-color: var(--primary);
}

.log{
    width: 200px;
    margin: 5px;
    padding: 10px;
    background-color: var(--primary);
    color: var(--fonts);
    border: 1px solid var(--fonts);
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    cursor: pointer;

}

.log:hover{
    background-color: var(--fonts);
    color: var(--primary);
}

h1{
    margin: 10px 0px;
    font-size: 3em;
}