/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --fonts : #ffffff;
    --primary: #5E4BA6;
    --alternative: #423259;
    --second: #9c9c9c;
    --dark-01: #131313;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent
}

::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color: var(--primary);
    border: 1px solid var(--fonts);
    border-radius: 20px;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--dark-01);
}