/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --fonts : #e6e5e5;
    --primary: #5E4BA6;
    --second: #9c9c9c;
    --dark-01: #1E1E1E;
    --dark-02: #292929;
    --dark-03: #3D3D3D;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border: 1px solid var(--primary);
    border-radius: 1px;
    background-color: var(--fonts);
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body{
    background-color: var(--dark-01);
    height: 100%;
    margin: 0px;
    font-family: "Outfit", sans-serif;
}

section{
    padding: 20px 40px;
    margin: auto;
    width: 380px;
    background-color: var(--dark-02);
    text-align: center;
}

h1{
    font-size: 26px;
    color: var(--fonts);
}

.input{
    margin: 1px;
    padding: 5px;
    width: 97%;
    background-color: var(--dark-02);
    border: 0.5px solid var(--fonts);
    border-radius: 5px;
    color: var(--fonts);
    font-size: 14px;
}


.btn{
    cursor: pointer;
    margin: 10px;
    padding: 7px;
    width: 95%;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: var(--fonts);
    font-size: 16px;
}

.inpbox{
    margin: 20px 10px;
    width: 95%;
    text-align: initial;
    justify-content: center;
}

label{
    padding: 0px;
    margin: 10px;
    color: var(--fonts);
    font-size: 16px;
}

.date{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.input-date{
    margin: 1px;
    padding: 5px;
    background-color: var(--dark-02);
    border: 0.5px solid var(--fonts);
    border-radius: 5px;
    color: var(--fonts);
    font-size: 14px;
}

.input-date::placeholder{
    color: var(--fonts);
}

#input-day{
    width: 60px;
}

#input-mounth{
    width: 150px;    
}

#input-year{
    width: 80px;    
}

p{
    padding: 0px 15px;
    color: var(--fonts);
    font-size: 14px;
    width: 94%;
}

a{
    margin: 10px;
    color: var(--primary);
    text-decoration: none;
}